<ol><b>To-Do List</b>
    <s><li><ul>Create icon in pixel art
        <li>Deep blue icon (Six pointed star on end)</li>
        <li>(yellow-?)White letters (QS intertwined?)</li>
        <li>Set as tab icon</li>
    </ul></li></s>
    <s><li><ul>Toolbar on top
        <li>Icon on left</li>
        <li>Site name next to icon</li>
        <li>Page navigation on right</li>
        <li>Navigate using app-routing module (see angular.io heroes tutorial)</li>
    </ul></li></s>
    <li><ul>Landing page (ToDolist, currently, will have to redo after all other pages)
        <li>Welcome of some sort?</li>
        <li>Pictures which navigate to other pages</li>
    </ul></li>
    <li><ul>About Page
        <li>About me</li>
        <li>About my nom de plume</li>
    </ul></li>
    <li><ul>Coding/Portfolio Page
        <li>Explain all major coding projects + demo if possible</li>
        <li>Show plans for future projects</li>
        <li>Link to GitHub</li>
    </ul></li>
    <li><ul>World Page
        <li>Mini stories from each world</li>
        <li>Basic explanation of the world</li>
        <li>Maybe CYOA through renpy hosted on site</li>
    </ul></li>
    <li><ul>Hobbies
        <li>Origami</li>
        <li>Polymer Clay</li>
        <li>Dungeons & Dragons</li>
    </ul></li>
    <li>
        Make website accessible
    </li>
    <li>
        Make website mobile friendly
    </li>
</ol>