<div class='bg-img flex-container'>
    <img class='flex-item' src='assets/QS8PtStar.png' height='200vh'>
    <h1 class='flex-item'>The Beaten Path</h1>
    
    <span class='flex-item bookmark' (mouseenter) ="mouseEnter('home bookmark')"  (mouseleave) ="mouseLeave('home bookmark')">
        <img src='assets/Ribbon.png'>
        <a routerLink='/home'>Home</a>
    </span>

    <span class='flex-item bookmark' (mouseenter) ="mouseEnter('about bookmark')"  (mouseleave) ="mouseLeave('about bookmark')">
        <img src='assets/Ribbon.png'>
        <a routerLink='/about'>About</a>
    </span>

    <span class='flex-item bookmark' (mouseenter) ="mouseEnter('portfolio bookmark')"  (mouseleave) ="mouseLeave('portfolio bookmark')">
        <img src='assets/Ribbon.png'>
        <a routerLink='/portfolio'>Portfolio</a>
    </span>

    <span class='flex-item bookmark' (mouseenter) ="mouseEnter('worlds bookmark')"  (mouseleave) ="mouseLeave('worlds bookmark')">
        <img src='assets/Ribbon.png'>
        <a routerLink='/worlds'>Worlds</a>
    </span>

    <span class='flex-item bookmark' (mouseenter) ="mouseEnter('hobbies bookmark')"  (mouseleave) ="mouseLeave('hobbies bookmark')">
        <img src='assets/Ribbon.png'>
        <a routerLink='/hobbies'>Hobbies</a>
    </span>
</div>