<div class='bg-img flex-container'>
    <img class='flex-item icon' src='assets/QS8PtStar.png'>
    <h1 class='flex-item title'>The Beaten Path</h1>
    
    <a routerLink='/home' class='flex-item bookmark'>
        <img src='assets/Ribbon.png'>
        <p>Home</p>
    </a>

    <a routerLink='/about' class='flex-item bookmark'>
        <img src='assets/Ribbon.png'>
        <p>About<p>
    </a>

    <a routerLink='/portfolio' class='flex-item bookmark'>
        <img src='assets/Ribbon.png'>
        <p>Portfolio</p>
    </a>

    <a routerLink='/worlds' class='flex-item bookmark'>
        <img src='assets/Ribbon.png'>
        <p>Worlds</p>
    </a>

    <a routerLink='/hobbies' class='flex-item bookmark'>
        <img src='assets/Ribbon.png'>
        <p>Hobbies</p>
    </a>
</div>