/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

h2, h3, h4, h5, h6 {
    font-family: 'Dawning of a New Day', cursive;
}

h1 {
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 400%;
    font-weight: 50;
}

a, p { 
    font-family: 'Sedgwick Ave Display', cursive;
}

/* font-family: 'Homemade Apple', cursive;
font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Dawning of a New Day', cursive; */