<div style="margin: 5% 10%;">
    <h1>Excuse My Mess!</h1>
    <p>
        I apologize sincerely for the unfinished nature of this site you've been directed to visit; I am working diligently on creating 
        this more professional and complete version of my portfolio site, but in the meantime, feel free to visit my 
        <a href="https://github.com/Svagtlys">GitHub repositories</a> or my <a href="https://svagtlys.github.io/htmlPortfolioPage">old website</a>. Thank you for your understanding!
    </p>
    <p routerLink="/todo">
        Go to todo list
    </p>
</div>